﻿@model Modelo.Tabelas.Categoria

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Categoria</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.CategoriaId }) |
        @Html.ActionLink("Voltar a Listagem", "Index")
    </p>
    @Html.Partial("~/Views/Produtos/_PorFabricante.cshtml", Model.Produtos.ToList())
</body>
</html>
