﻿@model IEnumerable<Modelo.Tabelas.Categoria>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Criar Nova Categoria", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.CategoriaId }) |
                @Html.ActionLink("Detalhes", "Details", new { id=item.CategoriaId }) |
                @Html.ActionLink("Excluir", "Delete", new { id=item.CategoriaId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
