﻿@model IEnumerable<Modelo.Cadastros.Fabricante>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Listagem de Fabricantes";
}

@if(@TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert"> @TempData["Message"]</div>
}

<div class="panel panel-primary">
    <div class="panel-heading"> Relação de FABRICANTES registrados </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor( model => model.FabricanteId)
                    </th>
                    <th>
                        @Html.DisplayNameFor( model => model.Nome)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FabricanteId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.ActionLink("Alterar", "Edit", new { id = item.FabricanteId }) |
                            @Html.ActionLink("Detalhes", "Details", new { id = item.FabricanteId }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.FabricanteId })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer panel-info">
        @Html.ActionLink("Registrar um novo FABRICANTE", "Create", null, new { @class ="btn btn-success" })
</div>
</div>


<link href="@Url.Content("~/Content/DataTables/css/dataTables.bootstrap.css")" rel="stylesheet"/>=
<script src=" @Url.Content("~/Scripts/DataTables/jquery.dataTables.js")" ></script>
<script src="@Url.Content("~/Scripts/DataTables/dataTables.bootstrap.js")"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $('.table').dataTable({
                "order": [[1, "asc"]]    
            );
            $('li').removeClass("active");
            $('#Fabricantes').addClass("active");
        });
</script>

