﻿@model IEnumerable<Modelo.Cadastros.Produto>
<div class="panel panel-primary">
    <div class="panel-heading">
        Relação de PRODUTOS registrados para o fabricante
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.
                        ProdutoId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>Categoria</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.
                            ProdutoId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.
                            Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.
                            Categoria.Nome)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer panel-info">
    </div>
</div>
